<body class="fullBody" id="body-pd">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MrsOEF5 Auction Bot</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id='test1'>
           
              <% if(typeof user !== 'undefined'){
                %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/<%-user.toLowerCase()%>/channels">Channels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/commands">Command List</a>
                </li>   
                <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="<%-profile%>" alt="Profile Image" width="30px" height="30px" style="border-radius: 50%" class="d-inline-block align-text-center"> <%-user%>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/<%-user.toLowerCase()%>/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/<%-user.toLowerCase()%>/dashboard">Dashboard</a></li>
                  <li><a class="dropdown-item" href="/support">Support</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  <li id="twitchId" style="display: none;"><%-userId%></li>
                  <li id="username" style="display: none;"><%-user%></li>
                </ul>
              </li>
                <%
              } else { 
                %>
                  <li class="nav-item">
                    <a class="nav-link" href='/twitchlogin'>Twitch Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/support">Support</a>
                  </li>
                <%
              }
              %>
              
            </ul>
          </div>
        </div>
      </nav>
  <div id="sideNavToggle"></div>