<%- include('partials/header')%>
</header>
    <!-- Contains the navbar -->
    <%- include('partials/navbar')%>
    <div class="card">
        <img src="<%-profile%>" class="card-img-top" alt="<%-user%>'s Profile Image">
        <div class="card-body text-center">
          <h5 class="card-title"><%-user%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/dashboard" class="btn btn-dark">Dashboard</a>
        </div>
      </div>
      <hr style="background-color: white; height: 5px; width: 70%; margin: 10px auto">

      <div class="card">
        <img src="<%-profile%>" class="card-img-top" alt="<%-user%>'s Profile Image">
        <div class="card-body text-center">
          <h5 class="card-title"><%-user%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/dashboard" class="btn btn-dark">Dashboard</a>
        </div>
      </div>
<%- include('partials/footer')%>